* {
  border: none;
  font-family: Font Awesome, Fira Mono, Roboto, Arial, sans-serif;
  font-size: 12px;
  color: #ffffff;
  border-radius: 20px;
}

/* Discord blurple: #7289da -> rgba(114, 137, 218, 1) */
/* Tomorrow night light blue: #81a2be -> rgba(129, 162, 190, 1) */

window#waybar {
  background: transparent
}

window#waybar.empty #window {
  background: transparent;
}

/*-----module groups----*/
.modules-left {
  background-color: rgba(129, 162, 190, 0.6);
  margin: 2px 0 0 5px;
  padding: 0 8px;
}
/* .modules-center { */
/*   background-color: rgba(129, 162, 190, 0.6); */
/*   margin: 2px 0 0 0; */
/*   padding: 0 8px; */
/* } */
.modules-right {
  background-color: rgba(129, 162, 190, 0.6);
  margin: 2px 5px 0 0;
}

/*-----modules indv----*/
#workspaces button {
  padding: 1px 5px;
  background-color: rgba(0,0,0,0);
}
#workspaces button:hover {
  box-shadow: inherit;
  background-color: rgba(0,0,0,0.2);
}
#workspaces button.active {
  font-weight: bold;
}
#workspaces button.focused {
  background-color: rgba(0,43,51,0.85);
}
#workspaces button.visible {
  background-color: rgba(0,43,51,0.15);
}
#workspaces button.urgent {
    background-color: #eb4d4b;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock,
#battery,
#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#custom-media,
#tray,
#mode,
#custom-power,
#custom-menu,
#idle_inhibitor {
  padding: 0 10px;
}
#mode {
  color: #cc3436;
  font-weight: bold;
}
#custom-power {
  background-color: #7289da;
  border-radius: 100px;
  margin: 5px 5px;
  padding: 1px 1px 1px 6px;
}
/*-----Indicators----*/
#idle_inhibitor.activated {
  font-weight: bold;
}
#pulseaudio.muted {
  color: #cc3436;
}

#battery {
    /* background-color: #ffffff; */
    color: #fff;
}
#battery.charging, #battery.plugged {
    color: #ffffff;
    /* background-color: #26A65B; */
}
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #000;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}
#battery.warning:not(.charging) {
  color: #e6e600;
}
#temperature.critical {
  color: #cc3436;
}

/*-----Colors----*/
/*
*rgba(0,85,102,1),#005566 --> Indigo(dye)
*rgba(0,43,51,1),#002B33 --> Dark Green 
*rgba(0,153,153,1),#009999 --> Persian Green 
*
*/
